/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page_background_image: url("../images/cover-image-light.png");
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-text-color-rgb: 255, 0, 112;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --text-shadow: #ff0070;
}
